@use "variables";

#deals {
    max-width: 1400px;
    margin: 0 auto;

    .deals-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #000;
        max-width: 1228px;
        padding: 32px 0px;
        margin: 0 auto 50px auto;

        h4 {
            font-size: 56px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;

            span {
                color: #50806B;
                font-size: 56px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
            }
        }
    }

    .card-container {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 0px 39px 147.5px 39px;

        .cards {
            @include cards-buy;

            .deals-text {
                display: flex;
                flex-direction: column;
                gap: 8px;

                h6 {
                    color: #343434;
                    align-self: stretch;
                    font-family: Open Sans;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                p {
                    color: #343434;
                    text-align: center;
                    font-family: Open Sans;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: flex;
                    align-items: center;

                    span {
                        color: #D11F1F;
                        text-align: center;
                        font-family: Open Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        text-decoration: line-through;
                        padding-left: 8px;
                    }
                }
            }

            button {
                @include buy-hottest-btn;
            }
        }
    }
}