@use "variables";

.header {
    background-color: variables.$main-bg-color;
    color: variables.$main-color;
    width: variables.$main-width;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-self: center;

    .header_p2 {
        display: flex;
        justify-content: flex-end;
        gap: 40px;
    }
   
    
}