@use "variables";

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 87px;
    height: 61px;
    width: variables.$main-width;
    margin: 0 auto;

    a {
    text-decoration: none;
    color: black;
   }
   .links {
    gap: 50px;display: flex;
   }
    .searchNum {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    .img-menu {
        width: 22px;
        height: 22px;
    }
}

