@use "variables";

.shopB {
    height: 180px;
    width: 1600px;
    margin: 0 auto;
    span {
        color: variables.$main-bg-color;
    }
    h2 {
           margin-top: 120px; 
        font-family: variables.$main-font-family;
font-size: 56px;
font-weight: 600;
line-height: 67px;
letter-spacing: 0em;
text-align: left;
align-items: flex-end;

    }
}