@use "variables";

.shopB {
    height: 140px;
    width: 1228px;
    margin: 0 auto;
    span {
        color: variables.$main-bg-color;
    }

    h2 {
           margin-top: 120px; 
        font-family: variables.$main-font-family;
font-size: 56px;
font-weight: 600;
line-height: 67px;

align-items: flex-end;

    }
 
}

   .shopB-hr {
        margin: 0 auto;
        width: 1228px;
    }

